/* Ubuntu fonts */
@font-face {
  font-family: "ubuntu";
  src: url("./assets/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntu";
  src: url("./assets/Ubuntu-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ubuntu";
  src: url("./assets/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ubuntu";
  src: url("./assets/Ubuntu-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* source-serif */
@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/SourceSerifPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/SourceSerifPro-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/SourceSerifPro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/SourceSerifPro-Black.woff') format('woff');
}

:root {
  --bg: white;
  --bg-secondary: rgb(211, 211, 211); /* #d3d3d3 device panel background, borders */
  --outline: lightgrey;
  --outline-active: rgb(93, 93, 93); /* Active or heavy outlines */
  --input: var(--white);
  --active: var(--secondary-hover);
  --text: rgb(32, 32, 32); /* #202020 text */
  --text-contrast: white;
  --text-secondary: rgb(93, 93, 93); /* #5d5d5d secondary text and icon */
  --primary: rgb(32, 32, 32); /* #202020 buttons */
  --primary-hover: rgb(44, 44, 44); /* 2c2c2c */
  --secondary: white; /* secondary buttons*/
  --secondary-hover: rgba(32, 32, 32, .1); /* #2020201a secondary buttons*/
  --disabled: var(--text-secondary);
  --disabled-secondary: var(--bg-secondary);
  --accent: rgb(31, 121, 126); /* #1f797e info msgs, brand accent */
  --error: rgb(199, 103, 103); /* #c76767 error msgs, buttons */
  --error-hover: rgb(179, 92, 92); /* #b35c5c */
  --warn: rgb(230, 193, 100); /* #e6c164 warn msgs */
  --success: rgb(106, 178, 126); /* #6ab27e success msgs, buttons */
}

@media(prefers-color-scheme: dark) {
  :root{
    --bg: #1e2021;
    --bg-secondary: rgb(9, 9, 9);
    --outline: rgb(113, 113, 113);
    --outline-active: rgb(154, 154, 154);
    --input: var(--bg-secondary);
    --active: var(--disabled-secondary);
    --text: #f6f6f6;
    --text-contrast: #202020;
    --text-secondary: rgb(176, 176, 176);
    --primary: #f6f6f6; /* #202020 */
    --primary-hover: rgba(221, 221, 221);
    --secondary: #f6f6f6; /* secondary buttons*/
    --secondary-hover: rgb(46, 46, 46); 
    --disabled: var(--text-secondary); 
    --disabled-secondary: rgb(68, 68, 68);
    --accent: rgb(46, 179, 186); /* info msgs, brand accent */
    --error: rgb(235, 104, 104); /*  error msgs, buttons */
    --error-hover: rgb(233, 124, 124);
    --warn: rgb(230, 193, 100); /* #e6c164 warn msgs */
    --success: rgb(106, 178, 126); /* #6ab27e success msgs, buttons */
  }
}


html,
* {
  font-family: "ubuntu";
  margin: 0px;
}
h1,
h2,
h3 {
  font-family: "source serif";
  font-weight: 600;
}
#app {
  height: 100vh;
}
body {
  background-color: var(--bg-secondary);
  height: 100%;
  color: var(--text)
}

input, textarea {
  background-color: var(--input);
  color: var(--text)
}
/* Override browser default focus */
textarea:focus-visible,
input:focus-visible {
  outline: 2px solid var(--outline-active);
}
